{% extends 'products/base.html' %}
{% block title %}
    Mobile Page
{% endblock %}
{% block content %}

<header><h1><a href="{% url 'products:home' %}"> Home Page</a></h1></header>
 {% if user.is_authenticated %}
        <div style="right: 0;top: 0;position: fixed">
        <h4><a href="{% url 'users:logout' %}">Logout</a> </h4>
         {% if not user.type == 'CUSTOMER' %}
        <h4><a href="{% url 'users:dashboard' %}">Dashboard</a> </h4>
         {% endif %}
</div>
    {% else %}
            <h4 style="right: 0;top: 0;position: fixed"><a href="{% url 'users:login' %}">Login</a> </h4>

{% endif %}
<main>
    <div class="details">

    <h2>{{ mobile.name|upper }}</h2>
    <h4>Price: {{ mobile.price }}</h4>
    <h4>Amount: {{ mobile.amount }}</h4>
    <h4>Category: {{ mobile.category.name }}</h4>
    <h4>Size: {{ mobile.size }}</h4>
    <ul>
        {% for line in mobile.about %}
        <li><h3>{{ line }}</h3></li>
        {% endfor %}
    </ul>
    <div id="buy"><a href="{% url 'products:buy_mobile' mobile.id %}">Buy</a></div>
    <img src="{{ mobile.mobile_image.url }}" alt="{{ mobile.name }}"/>
    </div>
</main>
<footer>

</footer>
{% endblock %}