<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>mobile page</title>
    <link rel="stylesheet" href="{% static 'products/website.css' %}">

</head>
<style>
    #buy {
    border: #333 solid 5px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: #04AA6D;

}
    #buy a{
        text-decoration: none;

    }
    #buy:hover {
        background: brown;
    }
</style>
<body>

<header><h1><a href="{% url 'products:home' %}"> Home Page</a></h1></header>
<main>
    <div class="details">

    <h2>{{ mobile.name|upper }}</h2>
    <h4>Price: {{ mobile.price }}</h4>
    <h4>Amount: {{ mobile.amount }}</h4>
    <h4>Category: {{ mobile.category.name }}</h4>
    <h4>Size: {{ mobile.size }}</h4>
    <ul>
        {% for line in mobile.about %}
        <li><h3>{{ line }}</h3></li>
        {% endfor %}
    </ul>
    <div id="buy"><a href="#">Buy</a></div>
    <img src="{{ mobile.mobile_image.url }}" alt="{{ mobile.name }}"/>
    </div>
</main>
<footer>

</footer>
</body>
</html>